%div{:class => "today"}

  %h3 Aggregated statistics
  - @stat_summary[0..2].each do |b|
    = haml :'_stats_table', :locals => { :stats => b}

- if @stat_summary.length > 3
  %div{:class => "shifts"}
    %h3 Breakdown by shift
    - @stat_summary[3..-1].each do |b|
      = haml :'_stats_table', :locals => { :stats => b}
